@import "tailwindcss";
@plugin './hero.js';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@tailwind utilities;

@layer utilities {
  .container {
    @apply w-[80%] mx-auto mt-4;
  }
}
